<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>新浪</key>
		<string>www.sina.com</string>
	</dict>
	<dict>
		<key>百度</key>
		<string>www.baidu.com</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
	<dict>
		<key>360</key>
		<string>http://www.360.com/</string>
	</dict>
</array>
</plist>
